.text-malva {
  color: #ababde !important;
}

.bg-dark-blue, .bg-navbar {
  background-color: #0c386c !important;
}

#social-network-list .nav-link, .bg-navbar .nav-link {
  color: #ababde;
}

#social-network-list .nav-link:hover, .bg-navbar .nav-link:hover {
  color: #fff;
}

#social-network-list .nav-link.active, .bg-navbar .nav-link.active {
  background-color: #0f4483;
}

#social-network-list .nav-item {
  font-size: 1.25rem;
}
