.bg-navbar {
  background-color: #0c386c !important;
}

.bg-navbar .nav-link {
  color: #ababde;
}

.bg-navbar .nav-link:hover {
  color: #fff;
}

.bg-navbar .nav-link.active {
  background-color: #0f4483;
}
